Body{background-image:     url(../images/bg.jpg); background-repeat: round; }

#header-head{ 
  position: relative; height: 100px; width: 100%; 
  background-image: url(../images/banner.jpg);
  background-repeat:round;
margin:-30px; padding-left: -20px; padding-right: 50px; }

#container{ width: 1040px; height: 100%;
   background-color: rgb(255, 255, 255);
    margin: 100px 100px;
    margin-bottom: 0px;
    margin-top: 0px;
      
     padding:30px 80px 40px 20px;}
#navbar{
   width: 270px;
 
  height:100%;
  position: absolute;
  border: 1px solid;
  border-color: #dbdbdb;
  }

#nav-link ul{height:100px;
}

.nav-link li
{background-color:rgb(1, 63, 92);
border: 1px solid;
color:bisque;
list-style: none; list-style-type: none;
width: 200px;
height: 40px;
padding: 1px 10px 1px 5px;
float: left;}
 
 .nav-link a{
  color:rgb(245, 184, 184);
}

.nav-link li:hover {
  background-color: rgb(124, 4, 4);
  color: rgb(247, 188, 140);}


header{color:rgb(196, 33, 33);
  font-size: 40px;
  margin:15px;
  text-align:center;
  font-weight:thin;
padding-top: 10px}

.banner{padding: 1px 10px 1px 40px;}
 
  #main-doc header{ color: #000;
    size: 25px;
    text-align:left;
    margin:5px;
  }
    section li {
      margin:2 0px 0px 2px;}

   #main-doc {position: relative;
    margin-left: 340px;
    margin-top: 5px;
  }
  section article{
    color: #4d4e53;
    margin:10px;
    font-size:0.96em;}

    #footer{
    height: 40px; width: 100%; background-color: rgb(1, 63, 92); 
    margin:-15px; padding-left: -15px; padding-right: 32px; text-align: center; color: rgb(255, 255, 255);}